# Ignore everything in the target directory
ToscaDesigner/target/*
# But don't ignore these specific files
!ToscaDesigner/target/ToscaDesigner_0.0.00.jmdac
!ToscaDesigner/target/toscadesigner-0.0.00.jar
*.class
*.aird
*.properties
ToscaDesigner/target/antrun/build-main.xml
ToscaDesigner/target/classes/fr/softeam/i18n/messages.properties
ToscaDesigner/target/classes/fr/softeam/i18n/messages_fr.properties
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/CloudServiceArchiveDiagram$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/CloudServiceArchiveDiagram.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/ServiceTemplateDiagram$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/ServiceTemplateDiagram.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/TopologyTemplateDiagram$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/TopologyTemplateDiagram.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/ToscaModelDiagram$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/automatic/standard/staticdiagram/ToscaModelDiagram.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/IToscaDesignerPeerModule.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/infrastructure/modelelement/TEntityTemplate$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/infrastructure/modelelement/TEntityTemplate.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/infrastructure/modelelement/TExtensibleElements$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/infrastructure/modelelement/TExtensibleElements.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/association/TRelationshipTemplate$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/association/TRelationshipTemplate.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/CapabilitiesType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/CapabilitiesType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/CapabilityDefinitionsType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/CapabilityDefinitionsType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/ConstraintsType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/ConstraintsType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/InstanceStateType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/InstanceStateType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/InterfacesType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/InterfacesType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/PoliciesType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/PoliciesType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RelationshipConstraintsType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RelationshipConstraintsType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RelationshipConstraintType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RelationshipConstraintType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RelationshipOperationType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RelationshipOperationType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RequirementDefinitionsType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RequirementDefinitionsType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RequirementsType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/RequirementsType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TCapability$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TCapability.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TCapabilityDefinition$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TCapabilityDefinition.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TDeploymentArtifacts$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TDeploymentArtifacts.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TDocumentation$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TDocumentation.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TEntityType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TEntityType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TNodeTemplate$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TNodeTemplate.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TNodeType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TNodeType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TPlan$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TPlan.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TPlans$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TPlans.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TPolicy$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TPolicy.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TRelationshipType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TRelationshipType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TRequirement$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TRequirement.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TRequirementDefinition$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TRequirementDefinition.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TServiceTemplate$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TServiceTemplate.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TTopologyElementInstanceStates$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TTopologyElementInstanceStates.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TTopologyTemplate$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/class_/TTopologyTemplate.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/datatype/MaxInstancesType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/datatype/MaxInstancesType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/datatype/SourceElementType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/datatype/SourceElementType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/datatype/TargetElementType$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/datatype/TargetElementType.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/package_/ToscaModel$MdaTypes.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/tosca/standard/package_/ToscaModel.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/ToscaDesignerProxyFactory$InstantiateVisitor.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/api/ToscaDesignerProxyFactory.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/commands/CreateDiagramCommand.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/commands/CreateToscaModelCommand.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/commands/submodel/CreateCloudServiceArchiveCommand.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/commands/submodel/CreateServiceTemplateDigramCommand.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/commands/submodel/CreateSubModelCommand.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/commands/submodel/CreateTopologyTemplateDiagramCommand.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/core/ToscaElementPropertyPage.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/IPropertyContent.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/serviceTemplate/TNodeTypePropertyPage.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/serviceTemplate/TRelationshipTypePropertyPage.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/topologyTemplate/TNodeTemplatePropertyPage.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/ToscaDesignerPropertyPageFactory$PropertyPageVisitor.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/ToscaDesignerPropertyPageFactory.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/propertypages/ToscaPropertyPageHandler.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/handlers/tools/RelationshipTemplateTool.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/i18n/Messages.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/impl/IMdaProxy.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/impl/MdaProxyException$MdaProxyExceptionReason.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/impl/MdaProxyException.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/impl/ToscaDesignerLifeCycleHandler.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/impl/ToscaDesignerModule.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/impl/ToscaDesignerPeerModule.class
ToscaDesigner/target/classes/fr/softeam/toscadesigner/model/_12.aird
ToscaDesigner/target/classes/fr/softeam/toscadesigner/model/_12.ecore
ToscaDesigner/target/classes/fr/softeam/toscadesigner/model/toscaa.genmodel
ToscaDesigner/target/classes/fr/softeam/toscadesigner/model/toscaa.xsd2ecore
ToscaDesigner/target/maven-archiver/pom.properties
ToscaDesigner/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
ToscaDesigner/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
