<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="ToscaDesigner" class="fr.softeam.toscadesigner.impl.ToscaDesignerModule" binaryversion="5.4.01" version="0.0.6" schema-level="2" uid="942db9f9-6869-472c-b269-9ca7ec36a014" author="Softeam" image="" url="">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/commons-text-1.11.0.jar"/>
        <PathEntry path="lib/nashorn-core-15.4.jar"/>
        <PathEntry path="lib/asm-7.3.1.jar"/>
        <PathEntry path="lib/asm-commons-7.3.1.jar"/>
        <PathEntry path="lib/asm-analysis-7.3.1.jar"/>
        <PathEntry path="lib/asm-tree-7.3.1.jar"/>
        <PathEntry path="lib/asm-util-7.3.1.jar"/>
        <PathEntry path="lib/antlr4-runtime-4.5.1-1.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
        <PathEntry path="lib/rhino-1.7R4.jar"/>
        <PathEntry path="lib/handlebars-4.3.1.jar"/>
        <PathEntry path="lib/slf4j-api-1.7.32.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="052601e7-dbd7-42a1-9f15-ca5eaf0707f8" id="Tosca">
            <Stereotype name="CapabilitiesType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.CapabilitiesType.label" uid="03d159c3-b62b-497f-9176-c5137b4cb33d" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="CapabilityDefinitionsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TCapabilityDefinitionsType.label" uid="ac0418b1-a726-46e6-ac59-310f0055050f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ConstraintsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.ConstraintsType.label" uid="2404a629-b23f-4c4c-be56-f244dd2e9495" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="InstanceStateType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.InstanceStateType.label" uid="17542f25-7d53-4414-ad44-cda8dcefd24c" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="state" uid="3b1a149f-4f8f-4b4f-9e19-9b01218d74ba" label="%tagtype.state.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="InterfacesType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.InterfacesType.label" uid="52b9c42d-29c2-4a9c-a9af-c3d178e32339" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MaxInstancesType" metaclass="Standard.DataType" owner-stereotype="" is-hidden="false" label="%stereotype.MaxInstancesType.label" uid="5ca26f44-8e56-452a-a303-8660f79a79fa" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="PoliciesType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.PoliciesType.label" uid="d4897b52-a366-4cb7-9760-2e3571815c1f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RelationshipConstraintType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RelationshipConstraintType.label" uid="c0831a7b-bda2-433b-9120-b18e7e871edf" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="constraintType" uid="decdf774-2815-4cd8-98da-92a22715cdf5" label="%tagtype.Tag.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="any" uid="af827af8-e116-452d-b802-f2de41fcf61d" label="%tagtype.any.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="RelationshipConstraintsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RelationshipConstraintsType.label" uid="7956674f-ca58-44ad-86e0-eb4f37747af7" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RelationshipOperationType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RelationshipOperationType.label" uid="283533e7-c53c-4104-a644-9d71d040726f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="interfaceName" uid="8d6c1c4c-5e1a-4857-8946-843232eea8fc" label="%tagtype.interfaceName.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="operationName" uid="eaa46eea-ea48-4149-8061-face0d75977f" label="%tagtype.operationName.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="relationshipRef" uid="1a414145-2df0-4161-9346-e7c8330aa304" label="%tagtype.relationshipRef.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="RequirementDefinitionsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TRequirementDefinitionType.label" uid="622c76d1-f337-471e-984a-2af659417163" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RequirementsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RequirementsType.label" uid="1a39bd85-e28f-4e17-b2e9-a1803359cd83" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SourceElementType" metaclass="Standard.DataType" owner-stereotype="" is-hidden="false" label="%stereotype.SourceElementType.label" uid="4c7a9935-4795-4b01-bba1-4e88b3f061d6" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="ref" uid="3bade1e4-3a43-4c6f-906c-27dca8e8590b" label="%tagtype.ref.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="TCapability" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TCapability.label" uid="92831533-b614-4124-8961-3cd7ebcad536" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="name" uid="224dc1e1-9646-43bf-8a70-4e84323d4dde" label="%tagtype.name.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="TCapabilityDefinition" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TCapabilityDefinition.label" uid="92f8cb40-9498-4759-9c75-6b4df72de355" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="name" uid="1776853c-6947-4bf7-8a0d-0a88e1b98d50" label="%tagtype.name.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="lowerBound" uid="6bf3d39e-f355-4ae0-8e47-3d04e90a5ba4" label="%tagtype.lowerBound.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="upperBound" uid="06d9b79e-d3e3-4f07-ace2-73c6ded7a329" label="%tagtype.upperBound.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="capabilityType" uid="32bee67d-91fe-4a14-bdb8-5511402daf18" label="%tagtype.capabilityType.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="TDeploymentArtifact" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TDeploymentArtifact.label" uid="7c624564-a87e-4058-ab8b-8f6782b68031" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="artifactRef" uid="00f224d5-08f2-42a7-af61-f6e906e8305b" label="%tagtype.artifactRef.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="artifactType" uid="22483516-011a-4784-bde3-0f4bcadf9d00" label="%tagtype.artifactType.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="name" uid="8e15fb0f-c599-408f-b15a-4c8affdd8658" label="%tagtype.name.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="TDeploymentArtifacts" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TDeploymentArtifacts.label" uid="168ae3ca-0258-4eed-afa5-696caa1bab53" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TDocumentation" metaclass="Standard.Class" owner-stereotype="" is-hidden="true" label="%stereotype.TDocumentation.label" uid="1bcf2312-727a-4971-aac1-87f1c896f928" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TEntityTemplate" metaclass="Infrastructure.ModelElement" owner-stereotype="mref#'' {1aad84ed-4c30-40ec-a4d8-6712bb6bd018} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TEntityTemplate.label" uid="a32cca04-f738-421e-b834-b0f13524e19e" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <PropertyTable id="TEntityTemplatePropertyTable" label="%propertytable.TEntityTemplatePropertyTable.label" uid="9031f83d-b971-41ab-b109-b02f026305ef">
                    <PropertyDefinition id="id" label="%propertydefinition.TEntityTemplatePropertyTable.id.label" default-value="" is-editable="true" uid="08cf32f2-2ecf-4716-9cdc-57e005f102f4">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTemplatePropertyTable.id.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="type" label="%propertydefinition.TEntityTemplatePropertyTable.type.label" default-value="" is-editable="true" uid="81ce7b34-f210-44ca-aa8e-ea79ded8c354">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTemplatePropertyTable.type.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="properties" label="%propertydefinition.TEntityTemplatePropertyTable.properties.label" default-value="" is-editable="true" uid="c002b78d-ef37-4be9-a9a3-01222916e38c">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTemplatePropertyTable.properties.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="propertyConstraints" label="%propertydefinition.TEntityTemplatePropertyTable.propertyConstraints.label" default-value="" is-editable="true" uid="3f291b75-a5ed-4de1-841e-0cdf4bdc3ba7">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTemplatePropertyTable.propertyConstraints.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TExtensibleElements" metaclass="Infrastructure.ModelElement" owner-stereotype="" is-hidden="false" label="%stereotype.TExtensibleElements.label" uid="1aad84ed-4c30-40ec-a4d8-6712bb6bd018" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="any" uid="09873d87-439c-491e-85cc-4d44ded59ba3" label="%tagtype.Tag.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="anyAttribute" uid="070d869e-3813-43b0-b0cc-ee4ec09ba88f" label="%tagtype.Tag.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="TNodeTemplate" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TNodeTemplate.label" uid="1a20bf91-0a92-434a-9d1f-35c86788784e" is-abstract="false">
                <Icon path="res/icon/gui/node_template24.png"/>
                <Image path="res/icon/gui/node_template48.png"/>
                <PropertyTable id="TNodeTemplateProperty" label="%propertytable.TNodeTemplateProperty.label" uid="de74defe-d419-4c01-9b11-563b796c0e6c">
                    <PropertyDefinition id="name" label="%propertydefinition.TNodeTemplateProperty.name.label" default-value="" is-editable="true" uid="bd9aa62a-17eb-4186-b69d-2bbf5a69a8be">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TNodeTemplateProperty.name.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="minInstances" label="%propertydefinition.TNodeTemplateProperty.minInstances.label" default-value="" is-editable="true" uid="4d6754bc-a92d-460c-ba8d-429b77f38a8c">
                        <TypeRef id="mref#'Integer' {01a40888-0000-002d-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TNodeTemplateProperty.minInstances.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="maxInstances" label="%propertydefinition.TNodeTemplateProperty.maxInstances.label" default-value="" is-editable="true" uid="8e4ef0cc-21bc-44ff-95db-b48e663f689d">
                        <TypeRef id="mref#'Integer' {01a40888-0000-002d-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TNodeTemplateProperty.maxInstances.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="testMultiElement" label="%propertydefinition.TNodeTemplateProperty.testMultiElement.label" default-value="" is-editable="true" uid="c70da6c5-e98d-4d4f-b2c2-b55dddeb2409">
                        <TypeRef id="mref#'MultiElement' {1bdf9f87-e9ad-4849-ab22-c25147e8d00c} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TNodeTemplateProperty.testMultiElement.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TNodeType" metaclass="Standard.Class" owner-stereotype="mref#'' {fecd81a5-da41-4a07-a507-6bfaf5bbadd2} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TNodeType.label" uid="47cdd09e-013d-4670-b757-f5736d2bb48c" is-abstract="false">
                <Icon path="res/icon/gui/node_type24.png"/>
                <Image path="res/icon/gui/node_type48.png"/>
            </Stereotype>
            <Stereotype name="TPlans" metaclass="Standard.Class" owner-stereotype="" is-hidden="true" label="%stereotype.TPlans.label" uid="01bb24fb-fe3d-4005-9bff-68bb6b6e8520" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <PropertyTable id="TPlansPropertyTable" label="%propertytable.TPlansPropertyTable.label" uid="af11d836-1ead-44b7-b5da-eb7be00ba4ba">
                    <PropertyDefinition id="targetNamespace" label="%propertydefinition.TPlansPropertyTable.targetNamespace.label" default-value="" is-editable="true" uid="a54b904c-da10-4750-952f-46ef1d577da6">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TPlansPropertyTable.targetNamespace.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TPolicy" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TPolicy.label" uid="afe2c9ed-9fab-4a53-a2d2-b52d849d0799" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <PropertyTable id="TPolicyTable" label="%propertytable.TPolicyTable.label" uid="ca3978f9-9ac6-4b7b-8785-a9d502a40e86">
                    <PropertyDefinition id="name" label="%propertydefinition.TPolicyTable.name.label" default-value="" is-editable="true" uid="3e41c1cd-e584-47d0-bae4-e8fc07eeefaa">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TPolicyTable.name.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="policyRef" label="%propertydefinition.TPolicyTable.policyRef.label" default-value="" is-editable="true" uid="874eaba3-7da2-496d-b724-a3f411e15532">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TPolicyTable.policyRef.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="policyType" label="%propertydefinition.TPolicyTable.policyType.label" default-value="" is-editable="true" uid="78876039-26c1-4105-aaab-0c4759def911">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TPolicyTable.policyType.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TRelationshipTemplate" metaclass="Standard.Association" owner-stereotype="mref#'' {a32cca04-f738-421e-b834-b0f13524e19e} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TRelationshipTemplate.label" uid="7f01001b-511e-4017-b6b4-729f68c85911" is-abstract="false">
                <Icon path="res/icon/gui/relationship_template24.png"/>
                <Image path="res/icon/gui/relationship_template48.png"/>
                <PropertyTable id="TRelationshipTemplateTable" label="%propertytable.TRelationshipTemplateTable.label" uid="e2ad1d70-bed4-4804-a352-276aae3de6dd">
                    <PropertyDefinition id="name" label="%propertydefinition.TRelationshipTemplateTable.name.label" default-value="" is-editable="true" uid="4e1f88bb-9f2a-4519-b54b-e03d31184991">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRelationshipTemplateTable.name.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TRelationshipType" metaclass="Standard.Class" owner-stereotype="mref#'' {fecd81a5-da41-4a07-a507-6bfaf5bbadd2} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TRelationshipType.label" uid="1b11c098-c9e5-4e5d-beca-3351909bc6ce" is-abstract="false">
                <Icon path="res/icon/gui/relationship_type24.png"/>
                <Image path="res/icon/gui/relationship_type48.png"/>
                <PropertyTable id="TRelationshipTypePropertyTable" label="%propertytable.TRelationshipTypePropertyTable.label" uid="0da9c91b-12ad-43eb-a884-7b4a745cdffa">
                    <PropertyDefinition id="instanceStates" label="%propertydefinition.TRelationshipTypePropertyTable.instanceStates.label" default-value="" is-editable="true" uid="f5bc71d2-5d77-4cfc-95ed-80e669e045f8">
                        <TypeRef id="mref#'Element' {b58969db-144e-4a1f-b946-cd6deacca9bd} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRelationshipTypePropertyTable.instanceStates.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="sourceInterfaces" label="%propertydefinition.TRelationshipTypePropertyTable.sourceInterfaces.label" default-value="" is-editable="true" uid="2c743775-6130-4f0c-9772-c3381999bee6">
                        <TypeRef id="mref#'Element' {b58969db-144e-4a1f-b946-cd6deacca9bd} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRelationshipTypePropertyTable.sourceInterfaces.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="targetInterfaces" label="%propertydefinition.TRelationshipTypePropertyTable.targetInterfaces.label" default-value="" is-editable="true" uid="8a73aa8f-3fde-4179-ab99-10bd09c7d073">
                        <TypeRef id="mref#'Element' {b58969db-144e-4a1f-b946-cd6deacca9bd} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRelationshipTypePropertyTable.targetInterfaces.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="validSource" label="%propertydefinition.TRelationshipTypePropertyTable.validSource.label" default-value="" is-editable="true" uid="45379b77-5fd9-43cb-b609-d61f124d9ff5">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRelationshipTypePropertyTable.validSource.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="validTarget" label="%propertydefinition.TRelationshipTypePropertyTable.validTarget.label" default-value="" is-editable="true" uid="2d6ef097-9a0f-47f3-87aa-5c168780ff23">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRelationshipTypePropertyTable.validTarget.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TRequirement" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TRequirement.label" uid="2a38f650-7f59-41a7-a928-ac9cbe326f84" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <PropertyTable id="TRequirementTable" label="%propertytable.TRequirementTable.label" uid="71e7e220-c92c-4111-ae73-3ed042a41c06">
                    <PropertyDefinition id="name" label="%propertydefinition.TRequirementTable.name.label" default-value="" is-editable="true" uid="95a52b2f-43dd-469a-b6da-a187ef6573a1">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRequirementTable.name.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TRequirementDefinition" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TRequirementDefinition.label" uid="2637c4bd-ca93-4012-82ea-8ef2ba5ca444" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <PropertyTable id="TRequirementDefinitionTable" label="%propertytable.TRequirementDefinitionTable.label" uid="620d9ee4-1487-4477-9f9c-f46321456d98">
                    <PropertyDefinition id="name" label="%propertydefinition.TRequirementDefinitionTable.name.label" default-value="" is-editable="true" uid="9c566aec-ad96-40ff-a064-234052f3d025">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRequirementDefinitionTable.name.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="lowerBound" label="%propertydefinition.TRequirementDefinitionTable.lowerBound.label" default-value="" is-editable="true" uid="91760dfd-39c9-4ee5-86f3-3f66d6cd56fe">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRequirementDefinitionTable.lowerBound.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="upperBound" label="%propertydefinition.TRequirementDefinitionTable.upperBound.label" default-value="" is-editable="true" uid="db6cac6e-1eab-4d18-a9f6-07531e0eff4f">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRequirementDefinitionTable.upperBound.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="requirementType" label="%propertydefinition.TRequirementDefinitionTable.requirementType.label" default-value="" is-editable="true" uid="b8f4932e-2500-4aa3-882b-7ca4d95a2f70">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TRequirementDefinitionTable.requirementType.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TServiceTemplate" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TServiceTemplate.label" uid="09682faf-27b8-4c4b-a5e6-22fe18303161" is-abstract="false">
                <Icon path="res/icon/gui/service_template24.png"/>
                <Image path="res/icon/gui/service_template48.png"/>
                <PropertyTable id="TServiceTemplatePropertyTable" label="%propertytable.TServiceTemplatePropertyTable.label" uid="e81847bd-68d3-40a1-887c-4c084f896b91">
                    <PropertyDefinition id="name" label="%propertydefinition.TServiceTemplatePropertyTable.name.label" default-value="" is-editable="true" uid="38d584e8-a8fd-4a07-9ccb-48a03bd4fd1c">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TServiceTemplatePropertyTable.name.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="id" label="%propertydefinition.TServiceTemplatePropertyTable.id.label" default-value="" is-editable="true" uid="389a946d-a1b9-4a7d-9029-f6d2a6e1300c">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TServiceTemplatePropertyTable.id.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="substitutableNodeType" label="%propertydefinition.TServiceTemplatePropertyTable.substitutableNodeType.label" default-value="" is-editable="true" uid="a98375ac-db7d-41f4-8316-7f8cef3dfecf">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TServiceTemplatePropertyTable.substitutableNodeType.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="tags" label="%propertydefinition.TServiceTemplatePropertyTable.tags.label" default-value="" is-editable="true" uid="d0cd7ce7-c73a-4738-8eac-88f2b007927a">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TServiceTemplatePropertyTable.tags.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="targetNamespace" label="%propertydefinition.TServiceTemplatePropertyTable.targetNamespace.label" default-value="" is-editable="true" uid="c099e5c2-f307-48e8-9542-f9225cb5fd83">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TServiceTemplatePropertyTable.targetNamespace.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="boundaryDefinitions" label="%propertydefinition.TServiceTemplatePropertyTable.boundaryDefinitions.label" default-value="" is-editable="true" uid="5a3a745d-2aed-4def-b0db-f11b198ded44">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TServiceTemplatePropertyTable.boundaryDefinitions.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="TTopologyElementInstanceStates" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TTopologyElementInstanceStates.label" uid="6bc1b842-da9c-42d9-8c4b-21f98dfdd988" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TTopologyTemplate" metaclass="Standard.Class" owner-stereotype="mref#'' {1aad84ed-4c30-40ec-a4d8-6712bb6bd018} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TTopologyTemplate.label" uid="a52f433c-cf19-4033-99c2-81b4af708744" is-abstract="false">
                <Icon path="res/icon/gui/topology_template24.png"/>
                <Image path="res/icon/gui/topology_template48.png"/>
            </Stereotype>
            <Stereotype name="TargetElementType" metaclass="Standard.DataType" owner-stereotype="" is-hidden="false" label="%stereotype.TargetElementType.label" uid="e4524aff-a7ca-4e8c-b752-7f45c18399b6" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <PropertyTable id="TargetElementTypePropertyTable" label="%propertytable.TargetElementTypePropertyTable.label" uid="4458f224-4e06-47d2-b399-bb70f7969bc3">
                    <PropertyDefinition id="ref" label="%propertydefinition.TargetElementTypePropertyTable.ref.label" default-value="" is-editable="true" uid="07aaa61d-8bc3-4fee-a845-aecb61d10bf5">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TargetElementTypePropertyTable.ref.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
            <Stereotype name="ToscaModel" metaclass="Standard.Package" owner-stereotype="" is-hidden="false" label="%stereotype.ToscaModel.label" uid="20565008-115d-4fad-800f-134ab276f611" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TPlan" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TPlan.label" uid="182e3894-ba54-49ce-bfdc-c97d06294a29" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TEntityType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TEntityType.label" uid="fecd81a5-da41-4a07-a507-6bfaf5bbadd2" is-abstract="true">
                <Icon path=""/>
                <Image path=""/>
                <PropertyTable id="TEntityTypePropertyTable" label="%propertytable.TEntityTypePropertyTable.label" uid="e8f30f06-d953-4192-a783-d2a57c96564c">
                    <PropertyDefinition id="tags" label="%propertydefinition.TEntityTypePropertyTable.tags.label" default-value="" is-editable="true" uid="9d69d99b-499b-4753-be0a-7267d4a368ec">
                        <TypeRef id="mref#'MultiElement' {1bdf9f87-e9ad-4849-ab22-c25147e8d00c} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTypePropertyTable.tags.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="derivedFrom" label="%propertydefinition.TEntityTypePropertyTable.derivedFrom.label" default-value="" is-editable="true" uid="1bb27208-5a4c-4ef2-a52e-94718a97c61c">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTypePropertyTable.derivedFrom.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="propertiesDefinition" label="%propertydefinition.TEntityTypePropertyTable.propertiesDefinition.label" default-value="" is-editable="true" uid="8e60acb6-8df2-4d2b-bb91-d0b944eb9d28">
                        <TypeRef id="mref#'MultiElement' {1bdf9f87-e9ad-4849-ab22-c25147e8d00c} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTypePropertyTable.propertiesDefinition.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="abstract" label="%propertydefinition.TEntityTypePropertyTable.abstract.label" default-value="" is-editable="true" uid="fae87299-dec9-4059-8d8d-6312ed7c3f02">
                        <TypeRef id="mref#'Boolean' {01a40888-0000-002b-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTypePropertyTable.abstract.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="final" label="%propertydefinition.TEntityTypePropertyTable.final.label" default-value="" is-editable="true" uid="ed02ddaf-13c8-47e0-ba8b-cb537374933a">
                        <TypeRef id="mref#'Boolean' {01a40888-0000-002b-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTypePropertyTable.final.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="name" label="%propertydefinition.TEntityTypePropertyTable.name.label" default-value="" is-editable="true" uid="207f27b1-c6d9-4541-8a5c-a3fc9d0e3132">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTypePropertyTable.name.description</Description>
                    </PropertyDefinition>
                    <PropertyDefinition id="targetNamespace" label="%propertydefinition.TEntityTypePropertyTable.targetNamespace.label" default-value="" is-editable="true" uid="5bfcc6b2-f0ee-4854-9ac0-4ceaa8c9e21b">
                        <TypeRef id="mref#'Text' {01a40888-0000-002a-0000-000000000000} Infrastructure.PropertyType"/>
                        <Description>%propertydefinition.TEntityTypePropertyTable.targetNamespace.description</Description>
                    </PropertyDefinition>
                </PropertyTable>
            </Stereotype>
        </Profile>
        <Profile uid="72c19ac1-0189-4db1-a982-dbaa92e1cfd5" id="Automatic">
            <Stereotype name="CloudServiceArchiveDiagram" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.CloudServiceArchiveDiagram.label" uid="dddbe647-1f21-42d1-93cd-f61109a8afd3" is-abstract="false">
                <Icon path="res/icon/gui/csar_diag48.ICON.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ServiceTemplateDiagram" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.ServiceTemplateDiagram.label" uid="f9953d92-a710-4f60-aac1-ebb34e59967c" is-abstract="false">
                <Icon path="res/icon/gui/diagram/service_template_diag24.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TopologyTemplateDiagram" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.TopologyTemplateDiagram.label" uid="0313d7f3-dcd0-4c93-981e-705f3d4bcc82" is-abstract="false">
                <Icon path="res/icon/gui/diagram/topology_template_diag24.png"/>
                <Image path=""/>
            </Stereotype>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="Tosca_Model_Diagram" label="%command.Tosca_Model_Diagram.label" tooltip="%command.Tosca_Model_Diagram.tooltip" image="res/icon/gui/diagram/csar_diag24.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype="ToscaDesigner#ToscaModel"/>
                <Handler class="DiagramCreate">
                    <HParameter name="name" value="ToscaModelDiagram"/>
                    <HParameter name="stereotype" value="ToscaDesigner#CloudServiceArchiveDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                    <HParameter name="style" value="ToscaStyle"/>
                </Handler>
            </Command>
            <Command id="Export" label="%command.Export.label" tooltip="%command.Export.tooltip" image="res/icon/gui/script24.png" modify-model="false">
                <Scope metaclass="Standard.Package" stereotype="ToscaDesigner#ToscaModel"/>
                <Handler class="fr.softeam.toscadesigner.handlers.commands.ExportToscaModelCommand">
                    <HParameter name="name" value=""/>
                </Handler>
            </Command>
            <Command id="Service_Template_Diagram" label="%command.Service_Template_Diagram.label" tooltip="%command.Service_Template_Diagram.tooltip" image="res/icon/gui/diagram/service_template_diag24.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype="ToscaDesigner#ToscaModel"/>
                <Handler class="DiagramCreate">
                    <HParameter name="name" value="Diagram"/>
                    <HParameter name="stereotype" value="ToscaDesigner#ServiceTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                    <HParameter name="style" value="ToscaStyle"/>
                </Handler>
            </Command>
            <Command id="Topology_Template_Diagram" label="%command.Topology_Template_Diagram.label" tooltip="%command.Topology_Template_Diagram.tooltip" image="res/icon/gui/diagram/topology_template_diag24.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype="ToscaDesigner#ToscaModel"/>
                <Handler class="DiagramCreate">
                    <HParameter name="name" value="Topology Template Diagram"/>
                    <HParameter name="stereotype" value="ToscaDesigner#TopologyTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                    <HParameter name="style" value="ToscaStyle"/>
                </Handler>
            </Command>
            <Command id="Tosca_Model" label="%command.Tosca_Model.label" tooltip="%command.Tosca_Model.tooltip" image="" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="fr.softeam.toscadesigner.handlers.commands.CreateToscaModelCommand">
                    <HParameter name="stereotype" value="ToscaDesigner#ToscaModel"/>
                    <HParameter name="metaclass" value="Standard.Package"/>
                    <HParameter name="name" value="Tosca Model"/>
                </Handler>
            </Command>
        </Commands>
        <Tools>
            <Tool id="Service Template" label="%tool.Service Template.label" tooltip="%tool.Service Template.tooltip" image="res/icon/gui/service_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TServiceTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="ServiceTemplate"/>
                </Handler>
            </Tool>
            <Tool id="TopologyTemplate" label="%tool.TopologyTemplate.label" tooltip="%tool.TopologyTemplate.tooltip" image="res/icon/gui/topology_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TTopologyTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="TopologyTemplate"/>
                </Handler>
            </Tool>
            <Tool id="NodeType" label="%tool.NodeType.label" tooltip="%tool.NodeType.tooltip" image="res/icon/gui/node_type24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TNodeType"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="NodeType"/>
                </Handler>
            </Tool>
            <Tool id="RelationshipType" label="%tool.RelationshipType.label" tooltip="%tool.RelationshipType.tooltip" image="res/icon/gui/relationship_type24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TRelationshipType"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="RelationshipType"/>
                </Handler>
            </Tool>
            <Tool id="Plans" label="%tool.Plans.label" tooltip="%tool.Plans.tooltip" image="">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="Plans"/>
                </Handler>
            </Tool>
            <Tool id="NodeTemplate" label="%tool.NodeTemplate.label" tooltip="%tool.NodeTemplate.tooltip" image="res/icon/gui/node_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TNodeTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="NodeTemplate"/>
                </Handler>
            </Tool>
            <Tool id="RelationshipTemplate" label="%tool.RelationshipTemplate.label" tooltip="%tool.RelationshipTemplate.tooltip" image="res/icon/gui/relationship_template24.png">
                <Scope-source metaclass="Standard.Class" stereotype="ToscaDesigner#TNodeTemplate"/>
                <Scope-target metaclass="Standard.Class" stereotype="ToscaDesigner#TNodeTemplate"/>
                <Handler class="fr.softeam.toscadesigner.handlers.tools.RelationshipTemplateTool">
                    <HParameter name="stereotype" value="ToscaDesigner#TRelationshipTemplate"/>
                    <HParameter name="metaclass" value="Standard.Association"/>
                    <HParameter name="name" value="RelationshipTemplate"/>
                </Handler>
            </Tool>
            <Tool id="ArtifactTemplate" label="%tool.ArtifactTemplate.label" tooltip="%tool.ArtifactTemplate.tooltip" image="res/icon/gui/artifact_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="Artifact Template"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="Export" group="" group-image=""/>
            <CommandRef refid="Tosca_Model_Diagram" group="" group-image=""/>
            <CommandRef refid="Service_Template_Diagram" group="%group.Service_Template.label" group-image=""/>
            <CommandRef refid="Topology_Template_Diagram" group="%group.Topology_Template.label" group-image=""/>
            <CommandRef refid="Tosca_Model" group="" group-image=""/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="ToscaDesigner#CloudServiceArchiveDiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="Service Template" group="%group.Group0.label"/>
                    <ToolRef refid="CREATE_NOTE" group="%group.Common.label"/>
                </Palette>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="ToscaDesigner#CloudServiceArchiveDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="ToscaDesigner#ServiceTemplateDiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="NodeType" group="%group.Types.label"/>
                    <ToolRef refid="RelationshipType" group="%group.Types.label"/>
                    <ToolRef refid="TopologyTemplate" group="%group.Templates.label"/>
                    <ToolRef refid="ArtifactTemplate" group="%group.Artifact_Template.label"/>
                    <ToolRef refid="Plans" group="%group.Plans.label"/>
                </Palette>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="ToscaDesigner#ServiceTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="ToscaDesigner#TopologyTemplateDiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="NodeTemplate" group="%group.Node_Templates.label"/>
                    <ToolRef refid="RelationshipTemplate" group="%group.Relationship_Templates.label"/>
                    <ToolRef refid="CREATE_CONNECTOR" group="%group.Connectors.label"/>
                    <ToolRef refid="CREATE_DELEGATELINK" group="%group.Connectors.label"/>
                    <ToolRef refid="CREATE_GENERALIZATION" group="%group.Connectors.label"/>
                    <ToolRef refid="CREATE_AGGREGATION" group="%group.Connectors.label"/>
                    <ToolRef refid="CREATE_ARCHIMATE_AGGREGATION" group="%group.Connectors.label"/>
                    <ToolRef refid="CREATE_ARCHIMATE_ASSOCIATION" group="%group.Connectors.label"/>
                    <ToolRef refid="CREATE_ASSOCIATION" group="%group.Connectors.label"/>
                    <ToolRef refid="CREATE_COMMUNICATIONLINK" group="%group.Connectors.label"/>
                    <ToolRef refid="Relation" group="%group.Connectors.label"/>
                </Palette>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="ToscaDesigner#TopologyTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
        </Diagrams>
        <Views>
            <PropertyPage id="ToscaPropertyPage" class="fr.softeam.toscadesigner.handlers.propertypages.ToscaPropertyPageHandler" label="%propertypage.ToscaPropertyPage.label" image="res/icon/module.png"/>
        </Views>
    </Gui>
    <Resources>
        <Styles>
            <Style id="ToscaStyle" path="res/generated/styles/ToscaStyle.style"/>
        </Styles>
    </Resources>
</Module>
