<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="ToscaDesigner" class="fr.softeam.toscadesigner.impl.ToscaDesignerModule" binaryversion="5.4.01" version="0.0.00" schema-level="2" uid="942db9f9-6869-472c-b269-9ca7ec36a014" author="Softeam" image="" url="">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="ad7bd07a-f96b-47fb-8f5c-d62d9086f93f" id="Tosca">
            <Stereotype name="ArtifactTemplate" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.ArtifactTemplate.label" uid="9470b61d-47b8-455e-9d73-1119e307cdcc" is-abstract="false">
                <Icon path="res/icon/gui/artifact_template24.png"/>
                <Image path="res/icon/gui/artifact_template48.png"/>
            </Stereotype>
            <Stereotype name="CapabilitiesType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.CapabilitiesType.label" uid="03d159c3-b62b-497f-9176-c5137b4cb33d" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="CapabilityDefinitionsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TCapabilityDefinitionsType.label" uid="ac0418b1-a726-46e6-ac59-310f0055050f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ConstraintsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.ConstraintsType.label" uid="2404a629-b23f-4c4c-be56-f244dd2e9495" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="InstanceStateType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.InstanceStateType.label" uid="17542f25-7d53-4414-ad44-cda8dcefd24c" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="InterfacesType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.InterfacesType.label" uid="52b9c42d-29c2-4a9c-a9af-c3d178e32339" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MaxInstancesType" metaclass="Standard.DataType" owner-stereotype="" is-hidden="false" label="%stereotype.MaxInstancesType.label" uid="5ca26f44-8e56-452a-a303-8660f79a79fa" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="PoliciesType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.PoliciesType.label" uid="d4897b52-a366-4cb7-9760-2e3571815c1f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RelationshipConstraintType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RelationshipConstraintType.label" uid="c0831a7b-bda2-433b-9120-b18e7e871edf" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RelationshipConstraintsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RelationshipConstraintsType.label" uid="7956674f-ca58-44ad-86e0-eb4f37747af7" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RelationshipOperationType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RelationshipOperationType.label" uid="283533e7-c53c-4104-a644-9d71d040726f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RequirementDefinitionsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TRequirementDefinitionType.label" uid="622c76d1-f337-471e-984a-2af659417163" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RequirementsType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RequirementsType.label" uid="1a39bd85-e28f-4e17-b2e9-a1803359cd83" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SourceElementType" metaclass="Standard.DataType" owner-stereotype="" is-hidden="false" label="%stereotype.SourceElementType.label" uid="4c7a9935-4795-4b01-bba1-4e88b3f061d6" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TCapability" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TCapability.label" uid="92831533-b614-4124-8961-3cd7ebcad536" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TCapabilityDefinition" metaclass="Standard.Class" owner-stereotype="mref#'' {e0b7e96b-63d9-4cee-adef-064c9c5f1ba0} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TCapabilityDefinition.label" uid="92f8cb40-9498-4759-9c75-6b4df72de355" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TDeploymentArtifact" metaclass="Standard.Class" owner-stereotype="mref#'' {e0b7e96b-63d9-4cee-adef-064c9c5f1ba0} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TDeploymentArtifact.label" uid="7c624564-a87e-4058-ab8b-8f6782b68031" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TDeploymentArtifacts" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TDeploymentArtifacts.label" uid="168ae3ca-0258-4eed-afa5-696caa1bab53" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TExtensibleElements" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TExtensibleElements.label" uid="e0b7e96b-63d9-4cee-adef-064c9c5f1ba0" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TNodeTemplate" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TNodeTemplate.label" uid="1a20bf91-0a92-434a-9d1f-35c86788784e" is-abstract="false">
                <Icon path="res/icon/gui/node_template24.png"/>
                <Image path="res/icon/gui/node_template48.png"/>
            </Stereotype>
            <Stereotype name="TNodeType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TNodeType.label" uid="47cdd09e-013d-4670-b757-f5736d2bb48c" is-abstract="false">
                <Icon path="res/icon/gui/node_type24.png"/>
                <Image path="res/icon/gui/node_type48.png"/>
            </Stereotype>
            <Stereotype name="TPolicy" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TPolicy.label" uid="afe2c9ed-9fab-4a53-a2d2-b52d849d0799" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TRelationshipTemplate" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TRelationshipTemplate.label" uid="7f01001b-511e-4017-b6b4-729f68c85911" is-abstract="false">
                <Icon path="res/icon/gui/relationship_template24.png"/>
                <Image path="res/icon/gui/relationship_template48.png"/>
            </Stereotype>
            <Stereotype name="TRequirement" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TRequirement.label" uid="2a38f650-7f59-41a7-a928-ac9cbe326f84" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TRequirementDefinition" metaclass="Standard.Class" owner-stereotype="mref#'' {e0b7e96b-63d9-4cee-adef-064c9c5f1ba0} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.TRequirementDefinition.label" uid="2637c4bd-ca93-4012-82ea-8ef2ba5ca444" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TTopologyElementInstanceStates" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TTopologyElementInstanceStates.label" uid="6bc1b842-da9c-42d9-8c4b-21f98dfdd988" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TTopologyTemplate" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TTopologyTemplate.label" uid="a52f433c-cf19-4033-99c2-81b4af708744" is-abstract="false">
                <Icon path="res/icon/gui/topology_template24.png"/>
                <Image path="res/icon/gui/topology_template48.png"/>
            </Stereotype>
            <Stereotype name="TargetElementType" metaclass="Standard.DataType" owner-stereotype="" is-hidden="false" label="%stereotype.TargetElementType.label" uid="e4524aff-a7ca-4e8c-b752-7f45c18399b6" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ToscaModel" metaclass="Standard.Package" owner-stereotype="" is-hidden="false" label="%stereotype.ToscaModel.label" uid="20565008-115d-4fad-800f-134ab276f611" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TServiceTemplate" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TServiceTemplate.label" uid="09682faf-27b8-4c4b-a5e6-22fe18303161" is-abstract="false">
                <Icon path="res/icon/gui/service_template24.png"/>
                <Image path="res/icon/gui/service_template48.png"/>
            </Stereotype>
            <Stereotype name="TRelationshipType" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.TRelationshipType.label" uid="1b11c098-c9e5-4e5d-beca-3351909bc6ce" is-abstract="false">
                <Icon path="res/icon/gui/relationship_type24.png"/>
                <Image path="res/icon/gui/relationship_type48.png"/>
            </Stereotype>
        </Profile>
        <Profile uid="72c19ac1-0189-4db1-a982-dbaa92e1cfd5" id="Automatic">
            <Stereotype name="CloudServiceArchiveDiagram" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.CloudServiceArchiveDiagram.label" uid="dddbe647-1f21-42d1-93cd-f61109a8afd3" is-abstract="false">
                <Icon path="res/icon/gui/csar_diag48.ICON.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ServiceTemplateDiagram" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.ServiceTemplateDiagram.label" uid="f9953d92-a710-4f60-aac1-ebb34e59967c" is-abstract="false">
                <Icon path="res/icon/gui/diagram/service_template_diag24.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TopologyTemplateDiagram" metaclass="Standard.StaticDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.TopologyTemplateDiagram.label" uid="0313d7f3-dcd0-4c93-981e-705f3d4bcc82" is-abstract="false">
                <Icon path="res/icon/gui/diagram/topology_template_diag24.png"/>
                <Image path=""/>
            </Stereotype>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="Tosca_Model" label="%command.Tosca_Model.label" tooltip="%command.Tosca_Model.tooltip" image="res/icon/gui/tosca48.ICON.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="ElementCreate">
                    <HParameter name="stereotype" value="ToscaDesigner#ToscaModel"/>
                    <HParameter name="metaclass" value="Standard.Package"/>
                    <HParameter name="name" value="Tosca Model"/>
                </Handler>
            </Command>
            <Command id="Tosca_Model_Diagram" label="%command.Tosca_Model_Diagram.label" tooltip="%command.Tosca_Model_Diagram.tooltip" image="res/icon/gui/2.ICON.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype="ToscaDesigner#ToscaModel"/>
                <Handler class="fr.softeam.toscadesigner.handlers.commands.CreateDiagramCommand">
                    <HParameter name="name" value="CloudServiceDiagram"/>
                    <HParameter name="stereotype" value="ToscaDesigner#CloudServiceArchiveDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </Command>
            <Command id="Export" label="%command.Export.label" tooltip="%command.Export.tooltip" image="res/icon/gui/script24.png" modify-model="false">
                <Scope metaclass="Standard.Package" stereotype="ToscaDesigner#ToscaModel"/>
                <Handler class="fr.softeam.toscadesigner.handlers.commands.CreateDiagramCommand"/>
            </Command>
            <Command id="Service_Template_Diagram" label="%command.Service_Template_Diagram.label" tooltip="%command.Service_Template_Diagram.tooltip" image="" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="fr.softeam.toscadesigner.handlers.commands.CreateDiagramCommand">
                    <HParameter name="name" value="ServiceTemplateDiagram"/>
                    <HParameter name="stereotype" value="ToscaDesigner#ServiceTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </Command>
            <Command id="Topology_Template_Diagram" label="%command.Topology_Template_Diagram.label" tooltip="%command.Topology_Template_Diagram.tooltip" image="" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="fr.softeam.toscadesigner.handlers.commands.CreateDiagramCommand">
                    <HParameter name="name" value="TopologyTemplateDiagram"/>
                    <HParameter name="stereotype" value="ToscaDesigner#TopologyTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </Command>
        </Commands>
        <Tools>
            <Tool id="Service Template" label="%tool.Service Template.label" tooltip="%tool.Service Template.tooltip" image="res/icon/gui/service_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TServiceTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="ServiceTemplate"/>
                </Handler>
            </Tool>
            <Tool id="TopologyTemplate" label="%tool.TopologyTemplate.label" tooltip="%tool.TopologyTemplate.tooltip" image="res/icon/gui/topology_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TTopologyTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="TopologyTemplate"/>
                </Handler>
            </Tool>
            <Tool id="NodeTypes" label="%tool.NodeTypes.label" tooltip="%tool.NodeTypes.tooltip" image="res/icon/gui/node_type24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TNodeType"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="NodeTypes"/>
                </Handler>
            </Tool>
            <Tool id="RelationshipTypes" label="%tool.RelationshipTypes.label" tooltip="%tool.RelationshipTypes.tooltip" image="res/icon/gui/relationship_type24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TRelationshipType"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="RelationshipTypes"/>
                </Handler>
            </Tool>
            <Tool id="Plans" label="%tool.Plans.label" tooltip="%tool.Plans.tooltip" image="">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="Plans"/>
                </Handler>
            </Tool>
            <Tool id="NodeTemplate" label="%tool.NodeTemplate.label" tooltip="%tool.NodeTemplate.tooltip" image="res/icon/gui/node_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TNodeTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="NodeTemplate"/>
                </Handler>
            </Tool>
            <Tool id="RelationshipTemplate" label="%tool.RelationshipTemplate.label" tooltip="%tool.RelationshipTemplate.tooltip" image="res/icon/gui/relationship_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#TRelationshipTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="RelationshipTemplate"/>
                </Handler>
            </Tool>
            <Tool id="ArtifactTemplate" label="%tool.ArtifactTemplate.label" tooltip="%tool.ArtifactTemplate.tooltip" image="res/icon/gui/artifact_template24.png">
                <Scope-source metaclass="Standard.Package" stereotype=""/>
                <Handler class="Box">
                    <HParameter name="stereotype" value="ToscaDesigner#ArtifactTemplate"/>
                    <HParameter name="metaclass" value="Standard.Class"/>
                    <HParameter name="name" value="Artifact Template"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="Export" group="" group-image=""/>
            <CommandRef refid="Tosca_Model" group="" group-image=""/>
            <CommandRef refid="Tosca_Model_Diagram" group="" group-image=""/>
            <CommandRef refid="Service_Template_Diagram" group="%group.Service_Template.label" group-image=""/>
            <CommandRef refid="Topology_Template_Diagram" group="%group.Topology_Template.label" group-image=""/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="ToscaDesigner#CloudServiceArchiveDiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="Service Template" group="%group.Group0.label"/>
                </Palette>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="ToscaDesigner#CloudServiceArchiveDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="ToscaDesigner#ServiceTemplateDiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="NodeTypes" group="%group.Types.label"/>
                    <ToolRef refid="RelationshipTypes" group="%group.Types.label"/>
                    <ToolRef refid="TopologyTemplate" group="%group.Templates.label"/>
                    <ToolRef refid="ArtifactTemplate" group="%group.Artifact_Template.label"/>
                    <ToolRef refid="Plans" group="%group.Plans.label"/>
                </Palette>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="ToscaDesigner#ServiceTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
            <DiagramType base-diagram="Standard.StaticDiagram" stereotype="ToscaDesigner#TopologyTemplateDiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="NodeTemplate" group="%group.Node_Templates.label"/>
                    <ToolRef refid="RelationshipTemplate" group="%group.Relationship_Templates.label"/>
                </Palette>
                <Handler class="StandardCustomizer">
                    <HParameter name="stereotype" value="ToscaDesigner#TopologyTemplateDiagram"/>
                    <HParameter name="metaclass" value="Standard.StaticDiagram"/>
                </Handler>
            </DiagramType>
        </Diagrams>
    </Gui>
</Module>
